<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>sitio web tpo</title>
	</head>
	<body>
	    <p align="center">
			<b>                                </b><br>
            <b>CAN FOOD</b></br>
			</br>
			Tienda para mascotas</br>
			</br>
		<p align="left">
			menu</br>
			Bienvenidos a nuestro portal de alimentos e higiene para mascotas!.</br>
			Disponemos de una amplia variedad de alimentos e insumos para ellas</br>
			como asi tambien, de un merecido servicio de higiene y belleza.</br>
			<b>                                </b><br>
			</br>
        </p>
		<p>		
				<body background="00_menu2.jpg">
				<a href="5_productos.html">Productos</a></br>
				</br>
				</br>
				</br>
				<a href="9_peluqueria.html">Peluqueria</a></br>
				</br>
				</br>
				</br>
				<a href="4_contactos.html">Contactos</a></br>
				</br>
				</br>
				</br>
				</br>
				</br>
		</p>
	</body>
</html>