<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>sitio web tpo</title>
	</head>
	<body>
	    <p align="center">
			<b>                                </b><br>
            <b><u>ALIMENTOS PARA MASCOTAS: menu</u></b></br>
			<b>                                </b><br>
			</br>
        </p>
		<p>		
				<body background="bavaria03_tamMedio_blancoCorrido.jpg">
				<a href="4_contactos.html">Contactos</a></br>
				<a href="5_productos.html">Productos</a></br>
				<a href="7_compras.html">Compras</a></br>
				<a href="8_salida.html">Salida</a></br>
				</br>
				</br>
		</p>
	</body>
</html>