<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>sitio web tpo</title>
	</head>
	<body>
	    <p align="center">
			<b>                                </b><br>
            <b>CAN FOOD</b></br>
			</br>
			Tienda para mascotas</br>
			</br>
		<p align="left">
			contactos</br>
			Aqui Ud. dispone de nuestros datos de contacto,
			como asi tambien de un formulario para comentar
			alguna consulta o inquietud.</br>
			En tal caso, por favor, complete el siguiente 
			formulario segun lo requerido y lo contactaremos
			a la brevedad. Muchas gracias! </br>
			<b>                                </b><br>
			</br>
        </p>
		<p>		
				<body background="07_contactalos9_alineacionDerecha.jpg">
				<a href="3_menu.html">Menu Principal</a></br>
				</br>
				</br>
		</p>
	</body>
</html>