<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>sitio web tpo</title>
	</head>
	<body>
	    <p align="center">
			<b>                                </b><br>
            <b>CAN FOOD</b></br>
			</br>
			Tienda para mascotas</br>
			</br>
		<p align="left">
			productos</br>
			<b>                                </b><br>
			</br>
        </p>
		<p>		
				<body background="04_paqsVariados_alineacionDerecha.jpg">
				<a href="3_menu.html">Menu Principal</a></br>
				</br>
				</br>
		</p>
	</body>
</html>