<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>sitio web tpo</title>
	</head>
	<body>
	    <p align="center">
			<b>                                </b><br>
            <b><u>ALIMENTOS PARA MASCOTAS: compras</u></b></br>
			<b>                                </b><br>
			</br>
        </p>
		<p>		
				<body background="bavaria03_tamMedio_blancoCorrido.jpg">
				<a href="5_productos.html">Productos</a></br>
				<a href="3_menu.html">Menu Principal</a></br>
				</br>
				</br>
		</p>
	</body>
</html>