<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
	<link rel="icon" href="../Public/icono.ico">
	<link rel=StyleSheet href="estilo.css">
	<title>Contacto</title>
</head>

<body>

	<header>
		<div class="logo2">
			<img src="../Public/logo2.png" class="logo" alt="logo">
		</div>
		<nav class="navbar">

			<ul class="contenedor">
				<li><a href="./Home.html"><i class="fa-solid fa-house"></i>Home</a></li>
				<li><a href="./Productos.html"><i class="fa-solid fa-magnifying-glass"></i>Productos</a></li>
				<li><a href="./Peluqueria.html"><i class="fa-solid fa-scissors"></i>Peluqueria</a></li>
				<li><a href="./Contacto.html"><i class="fa-solid fa-message"></i>Contacto</a></li>
				<li><a href="./Register.html"><i class="fa-regular fa-id-card"></i>Registrarse</a></li>
				<li><a href="./Login.html"><i class="fa-solid fa-right-to-bracket"></i>Ingresar</a></li>
			</ul>
		</nav>

	</header>

	<main>
		<!--TITULO-->
		<div class="iniciar">
			<h1>Contacto</h1>
		</div>

		<form method="post" action="mailto:email@exemple.com" class="formulario" id="formulario">

			<!--NOMBRE Y APELLIDO-->
			<div class="formulario_grupo" id="grupo_nombre">
				<label for="nombre" class="formulario_label">Nombre y Apellido</label>
				<div class="formulario_grupo_input">
					<input type="text" class="formulario_input" name="nombre" id="nombre" placeholder="Jonathan Smith">
					<i class="formulario_validacion_estado fas fa-times-circle"></i>
				</div>
				<p class="formulario_input_error">El usuario tiene que ser de 4 a 16 digitos y solo puede contener numeros, letra y guion bajo</p>
			</div>			

			<!--CORREO-->
			<div class="formulario_grupo" id="grupo_correo">
				<label for="correo" class="formulario_label">Correo Electrónico</label>
				<div class="formulario_grupo_input">
					<input type="email" class="formulario_input" name="correo" id="correo" placeholder="alguien@algo.com">
					<i class="formulario_validacion_estado fas fa-times-circle"></i>
				</div>
				<p class="formulario_input_error">El correo solo puede contener letras, numeros, puntos y guion bajo</p>
			</div>

			<!--MASCOTA-->
			<div class="formulario_grupo" id="grupo_mascota">
				<label for="mascota" class="formulario_label">Mascota</label>
				<div class="formulario_grupo_input">
					<input type="radio" name="mascota" /> Perro &nbsp;&nbsp;<input type="radio" name="mascota" /> Gato &nbsp;&nbsp;<input type="radio" name="mascota" /> Otra (indicar) &nbsp;<input type="text" class="formulario_input" name="mascota_otra" id="mascota_otra" size="5" />
					<i class="formulario_validacion_estado fas fa-times-circle"></i>
				</div>
				<p class="formulario_input_error"></p>
			</div>

			<!--ESPACIO-->
			<div class="formulario_grupo" id="grupo_consulta">
				<label for="consulta" class="formulario_label"></label>
				<div class="formulario_grupo_input">
					<!--<input type="text" class="formulario_input" name="consulta" id="consulta" placeholder="Ingrese aqui su consulta">-->
					<!--<i class="formulario_validacion_estado fas fa-times-circle"></i>-->
				</div>
				<p class="formulario_input_error"></p>
			</div>

			<!--CONSULTA-->
			<div class="formulario_grupo" id="grupo_consulta">
				<label for="consulta" class="formulario_label">Consulta</label>
				<div class="formulario_grupo_input">
					<input type="text" class="formulario_input_2" name="consulta" id="consulta" placeholder="Ingrese aqui su consulta">
					<i class="formulario_validacion_estado fas fa-times-circle"></i>
				</div>
				<p class="formulario_input_error">La consulta a ingresar no puede exceder los 200 caracteres.</p>
			</div>

			<!--EXITO-->
			<div class="formulario_grupo formulario_grupo_btn_enviar">
				<button type="submit" class="formulario_btn">Enviar</button>
				<p class="formulario_mensaje_exito" id="formulario_mensaje_exito">Formulario enviado exitosamente!</p>
			</div>

		</form>

	</main>	
		<footer>
			<p class="pafooter">Nuestra Ubicacion</p>
			<div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=152&amp;height=115&amp;hl=en&amp;q=av de mayo 1500&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://receivesms.one">receivesms</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:115px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:115px;}.gmap_iframe {height:115px!important;}</style></div>
			<p class="pafooter2">Copyright © 1999-2022 Can&Cat</p>
		</footer>	
</body>

</html>