* {
  margin: 0;
  padding: 0;
  font-family: roboto;
}


header {
  width: 100%;
}

footer {
  background-color: rgb(250, 201, 4);
  color: black;
  padding: 6vh 6vh;

}

main {
  background-color: rgb(239, 244, 244);
  
}

.navbar ul li a i {
  display: flex;
  justify-content: center;
}

.logo2 {
  width: 100%;
  display: flex;
  background-color: rgb(250, 201, 4);
  justify-content: center;
  align-items: center;

}

.navbar {
  width: 100%;
  background-color: black;
  padding: 1%;
  align-content: center;
}



.logo {
  width: 25%;
  height: 55%;
}

.contenedor {
  display: flex;
  justify-content: center;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: auto;  
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: silver;
  font-size: 0.75em;
}

.navbar ul li::before {
  content: "";
  height: 3px;
  width: 0%;
  background: yellow;
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.5s ease-out;
}

.navbar ul li:hover::before {
  width: 100%;
}
/************main*********/
.titulares{
	text-align: center;
	text-decoration: underline;
	font-weight: bolder;
	color:black
}
.grupo-seccion{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 5%;
}
.contenedor-producto{
	margin: 2%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;

}
.imagen-productos-home{
	width: 100%;
	height: 100%;
	border: 2px black solid;
}
.descripcion-productos-home{
	background-color: white;
	border: 2px black solid;
	padding: 4%;
	text-align: end;
}
.descripcion-productos-home:hover{
	background-color:black;
	font-size: 1.5em;
	padding: 0%;
	color:#00ff15
}
.flex-juntar{
	text-align: center;
	font-size: 1em;
	color: blue;
	font-weight:bold;
}
.flex-juntar:hover{
font-size: 1.25rem;
color:rgb(16, 244, 213)
}

.descripcion-art{
	text-align: center;
	font-size: 1.25em;
}

/*****************footer***********************/
section {
  color: brown;
}

.pafooter {
  font-family: roboto;
  font-weight: bold;
}
/******media query******/
@media (min-width: 461px) {
	.contenedor{
      font-size: 1.5em;
	}
	.grupo-seccion {
		display: grid;
		margin: 5%;
		grid-template-columns: 1fr 1fr;
		gap: 18px;
	}
	.titulares{
		font-size: 2em;
	}
	.descripcion-art {
		text-align: center;
		font-size: 1em;
		font-weight: bold;
	}
}

  @media (min-width: 761px) {
    .logo{
		width: 10%;
	}
	
	.contenedor{
		font-size: 2em;
	}
	.grupo-seccion {
		margin: 5%;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 20px;
	}
	.descripcion-art {
		font-size: 0.8em;
	}
  }

  /*********************************************************/
  @media (min-width: 1200px) {
    .logo{
		width: 10%;
	}
	.grupo-seccion {
		margin: 1%;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		gap: 10px;
	}
	.descripcion-art {
		font-size: 0.4em;
	}
  }

  /*********************************************************/
  /*Daniel Mariscal/*
  

/*Formulario Login*/
* {
	box-sizing: border-box;
}
body{
    background-image: url(/fspython2022_tpmascotas-main/Public/pexels-gradienta-7130499.jpg);
}
main {
    border: 1px solid transparent;
    border-radius: 35px;
    box-shadow: 7px 13px 37px rgba(48, 48, 48, 0.384);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background: #dfdfdfbb;
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 10px 35px 35px;
}
.iniciar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario{
	display: grid;
	grid-template-columns: 100%;
	gap: 20px;
}
.formulario_label{
	display: block;
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
}
.formulario_grupo_input{
	position: relative;
}
.formulario_input{
	width: 100%;
	background: #fff;
	border: 1px solid transparent;
	border-radius: 5px;
	height: 50px;
	line-height: 45px;
	padding: 0 40px 0 15px;
	transition: .3s ease all;
}
.formulario_input:focus{
	border: 3px solid rgba(31, 102, 233, 0.774);
	outline: none;
	box-shadow: 3px 0px 30px rgba(165, 165, 165, 0.384);
	}
.formulario_input_error{
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}
.formulario_input_error_activo{
	display: block;
}
.formulario_validacion_estado{
	position: absolute;
	right: 10px;
	bottom: 12px;
	z-index: 100;
	font-size: 16px;
	opacity: 0; 
}
.formulario_checkbox{
	margin-right: 10px;
}
.formulario_grupo_terminos,
.formulario_mensaje,
.formulario_grupo_btn_enviar{
	grid-column: span 1;
}
.formulario_mensaje{
	height: 45px;
	line-height: 45px;
	background: #F66060 ;
	padding: 0 25px;
	border-radius: 3px;
	display: none;
}
.formulario_mensaje_activo{
	display: block;
}
.formulario_mensaje p {
	margin: 0;
}
.formulario_grupo_btn_enviar{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.formulario_btn{
	height: 45px;
	line-height: 45px; 
	width: 40%;
	background: #000000bb;
	color: white;
	font-weight: bolder;
	border: none;
	border-radius: 9px;
	cursor: pointer;
	transition: .1s ease all;
}
.formulario_btn:hover{
	background-color: #1E5AAD;
}
.formulario_mensaje_exito{
    height: 45px;
	font-size: 20px;
    font-weight: bolder;
	color: green;
	display: none;
}
.formulario_mensaje_exito_activo{
	display: block;
}
.formulario_grupo_correcto 
.formulario_validacion_estado{
	color: #1ed12d;
	opacity: 1;
}
.formulario_grupo_incorrecto
.formulario_label{
	color: #F66060;
}
.formulario_grupo_incorrecto
.formulario_validacion_estado{
	color: #F66060;
	opacity: 1;
}
.formulario_grupo_incorrecto
.formulario_input{
	border: 3px #F66060 solid;
}
@media screen and (max-width: 800px){
	.formulario
	{
		grid-template-columns: 50%;
	}
	
	.formulario_grupo_terminos,
	.formulario_mensaje,
	.formulario_grupo_btn_enviar
	{
		grid-column: span 1;
	}
	.formulario_btn{
		width: 100%;
	}
}

/*Formulario*/
* {
	box-sizing: border-box;
}
body{
    background-image: url(/fspython2022_tpmascotas-main/Public/pexels-gradienta-7130499.jpg);
}
main {
    border: 1px solid transparent;
    border-radius: 35px;
    box-shadow: 7px 13px 37px rgba(48, 48, 48, 0.384);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background: #dfdfdfbb;
	max-width: 800px;
	width: 90%;
	margin: 70px auto;
	padding: 10px 35px 35px;
}
.iniciar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario{
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 20px;
}

.formulario_label{
	display: block;
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
}
.formulario_grupo_input{
	position: relative;
}
.formulario_input{
	width: 100%;
	background: #fff;
	border: 1px solid transparent;
	border-radius: 5px;
	height: 40px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}
.formulario_input_2{
	width: 205%;
	background: #fff;
	border: 1px solid transparent;
	border-radius: 5px;
	height: 70px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}
.formulario_input:focus{
	border: 3px solid rgba(31, 102, 233, 0.774);
	outline: none;
	box-shadow: 3px 0px 30px rgba(165, 165, 165, 0.384);
	}
.formulario_input_error{
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}
.formulario_input_error_activo{
	display: block;
}
.formulario_validacion_estado{
	position: absolute;
	right: 10px;
	bottom: 12px;
	z-index: 100;
	font-size: 16px;
	opacity: 0; 
}
.formulario_checkbox{
	margin-right: 10px;
}
.formulario_grupo_terminos,
.formulario_mensaje,
.formulario_grupo_btn_enviar{
	grid-column: span 2;
}
.formulario_mensaje{
	height: 45px;
	line-height: 45px;
	background: #F66060 ;
	padding: 0 25px;
	border-radius: 3px;
	display: none;
}
.formulario_mensaje_activo{
	display: block;
}
.formulario_mensaje p {
	margin: 0;
}
.formulario_grupo_btn_enviar{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.formulario_btn{
	height: 45px;
	line-height: 45px; 
	width: 40%;
	background: black;
	color: white;
	font-weight: bolder;
	border: none;
	border-radius: 9px;
	cursor: pointer;
	transition: .1s ease all;
}
.formulario_btn:hover{
	box-shadow: 3px 0px 30px rgb(161, 161, 161);
}
.formulario_mensaje_exito{
	font-size: 14px;
	color: green;
	display: none;
}
.formulario_mensaje_exito_activo{
	display: block;
}
/*Validacion*/
.formulario_grupo_correcto 
.formulario_validacion_estado{
	color: #1ed12d;
	opacity: 1;
}
.formulario_grupo_incorrecto
.formulario_label{
	color: #F66060;
}
.formulario_grupo_incorrecto
.formulario_validacion_estado{
	color: #F66060;
	opacity: 1;
}
.formulario_grupo_incorrecto
.formulario_input{
	border: 3px #F66060 solid;
}
/*Media Queries*/
@media screen and (max-width: 800px){
	.formulario
	{
		grid-template-columns: 50%;
	}
	
	.formulario_grupo_terminos,
	.formulario_mensaje,
	.formulario_grupo_btn_enviar
	{
		grid-column: span 1;
	}
	.formulario_btn{
		width: 100%;
	}
}