* {
  margin: 0;
  padding: 0;
  font-family: roboto;
}


header {
  width: 100%;
}

footer {
  background-color: rgb(250, 201, 4);
  color: black;
  padding: 6vh;

}
 
.navbar ul li a i {
  display: flex;
  justify-content: center;
}

.logo2 {
  width: 100%;
  display: flex;
  background-color: rgb(250, 201, 4);
  justify-content: center;
  align-items: center;

}

.navbar {
  width: 100%;
  background-color: black;
  padding: 1%;
  align-content: center;
}



.logo {
  width: 25%;
  height: 55%;
}

.contenedor {
  display: flex;
  justify-content: center;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: auto;  
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: silver;
  font-size: 0.75em;
}

.navbar ul li::before {
  content: "";
  height: 3px;
  width: 0%;
  background: yellow;
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.5s ease-out;
}

.navbar ul li:hover::before {
  width: 100%;
}
/************main*********/
main{
  width:90vw;
  margin: auto;
}



/*****************footer***********************/
section {
  color: brown;
}

.pafooter {
  font-family: roboto;
  font-weight: bold;
}
/******media query******/
@media (min-width: 461px) {

}

  @media (min-width: 761px) {
    header {
      background-color: red;
    }
  }

  /*********************************************************/
  @media (min-width: 1200px) {
    header {
      background-color: green;
    }
  }