<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
	<link rel="icon" href="../Public/icono.ico">
	<link rel=StyleSheet href="estilo.css">

	<title>Home</title>
</head>

<body>
	<header>
		<div class="logo2">
			<img src="../Public/logo2.png" class="logo" alt="logo">
		</div>
		<nav class="navbar">

			<ul class="contenedor">
				<li><a href="./Home.html"><i class="fa-solid fa-house"></i>Home</a></li>
				<li><a href="./Productos.html"><i class="fa-solid fa-magnifying-glass"></i>Productos</a></li>
				<li><a href="./Peluqueria.html"><i class="fa-solid fa-scissors"></i>Peluqueria</a></li>
				<li><a href="./Contacto.html"><i class="fa-solid fa-message"></i>Contacto</a></li>
				<li><a href="./Register.html"><i class="fa-regular fa-id-card"></i>Registrarse</a></li>
				<li><a href="./Login.html"><i class="fa-solid fa-right-to-bracket"></i>Ingresar</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<h3 class="titulares">Productos mas vendidos</h3>
			<div class="grupo-seccion">

				<article class="contenedor-producto">
					<div>
						<img src="../Public/logo2.png" class="imagen-productos-home" alt="imagen">
					</div>
					<div class="descripcion-productos-home">
						<h4>Envio Gratis   <i class="fa-solid fa-truck"></i></h4>
						<div class="flex-juntar">
							<p class="precios">$2.500</p>
							<p class="descripsion-descuento">15% Descuento</p>
						</div>
						<h4 class="descripcion-art">Alimento Balanceado 3,5Kg</h4>
					</div>
				</article>
				<article class="contenedor-producto">
					<div>
						<img src="../Public/logo2.png" class="imagen-productos-home" alt="imagen2">
					</div>
					<div class="descripcion-productos-home">
						<h4>Envio Gratis   <i class="fa-solid fa-truck"></i></h4>
						<div class="flex-juntar">
							<p class="precios">$3.500</p>
							<p class="descripsion-descuento">15% Descuento</p>
						</div>
						<h4 class="descripcion-art">Correa automatica</h4>
					</div>
				</article>
				<article class="contenedor-producto">
					<div>
						<img src="../Public/logo2.png" class="imagen-productos-home" alt="imagen3">
					</div>
					<div class="descripcion-productos-home">
						<h4>Envio Gratis   <i class="fa-solid fa-truck"></i></h4>
						<div class="flex-juntar">
							<p class="precios">$1.500</p>
							<p class="descripsion-descuento">15% Descuento</p>
						</div>
						<h4 class="descripcion-art"> Pipeta Antipulgas Perro/Gato</h4>
					</div>
				</article>
				<article class="contenedor-producto">
					<div>
						<img src="../Public/logo2.png" class="imagen-productos-home" alt="imagen4">
					</div>
					<div class="descripcion-productos-home">
						<h4>Envio Gratis   <i class="fa-solid fa-truck"></i></h4>
						<div class="flex-juntar">
							<p class="precios">$10.500</p>
							<p class="descripsion-descuento">20% Descuento</p>
						</div>
						<h4 class="descripcion-art">Perrera grande</h4>
					</div>
				</article>
				<article class="contenedor-producto">
					<div>
						<img src="../Public/logo2.png" class="imagen-productos-home" alt="imagen5">
					</div>
					<div class="descripcion-productos-home">
						<h4>Envio Gratis   <i class="fa-solid fa-truck"></i></h4>
						<div class="flex-juntar">
							<p class="precios">$5.500</p>
							<p class="descripsion-descuento">5% Descuento</p>
						</div>
						<h4 class="descripcion-art">Alimento Balanceado 10Kg</h4>
					</div>
				</article>
				<article class="contenedor-producto">
					<div>
						<img src="../Public/logo2.png" class="imagen-productos-home" alt="imagen6">
					</div>
					<div class="descripcion-productos-home">
						<h4>Envio Gratis   <i class="fa-solid fa-truck"></i></h4>
						<div class="flex-juntar">
							<p class="precios">$500</p>
							<p class="descripsion-descuento">10% Descuento</p>
						</div>
						<h4 class="descripcion-art">Piedras Sanitarias 4Kg</h4>
					</div>
				</article>
			</div>
		</section>

		<section>
			<h3 class="titulares">Promociones
			</h3>
			<div class="grupo-seccion">

				<article class="contenedor-producto">
					<div>
						<img src="../Public/logo2.png" class="imagen-productos-home" alt="imagen">
					</div>
					<div class="descripcion-productos-home">
						<h4>Envio Gratis   <i class="fa-solid fa-truck"></i></h4>
						<div class="flex-juntar">
							<p class="precios">$2.500</p>
							<p class="descripsion-descuento">15% Descuento</p>
						</div>
						<h4 class="descripcion-art">Alimento Balanceado 3,5Kg</h4>
					</div>
				</article>
				<article class="contenedor-producto">
					<div>
						<img src="../Public/logo2.png" class="imagen-productos-home" alt="imagen2">
					</div>
					<div class="descripcion-productos-home">
						<h4>Envio Gratis   <i class="fa-solid fa-truck"></i></h4>
						<div class="flex-juntar">
							<p class="precios">$3.500</p>
							<p class="descripsion-descuento">15% Descuento</p>
						</div>
						<h4 class="descripcion-art">Correa automatica</h4>
					</div>
				</article>
				<article class="contenedor-producto">
					<div>
						<img src="../Public/logo2.png" class="imagen-productos-home" alt="imagen3">
					</div>
					<div class="descripcion-productos-home">
						<h4>Envio Gratis   <i class="fa-solid fa-truck"></i></h4>
						<div class="flex-juntar">
							<p class="precios">$1.500</p>
							<p class="descripsion-descuento">15% Descuento</p>
						</div>
						<h4 class="descripcion-art"> Pipeta Antipulgas Perro/Gato</h4>
					</div>
				</article>
				<article class="contenedor-producto">
					<div>
						<img src="../Public/logo2.png" class="imagen-productos-home" alt="imagen4">
					</div>
					<div class="descripcion-productos-home">
						<h4>Envio Gratis   <i class="fa-solid fa-truck"></i></h4>
						<div class="flex-juntar">
							<p class="precios">$10.500</p>
							<p class="descripsion-descuento">20% Descuento</p>
						</div>
						<h4 class="descripcion-art">Perrera grande</h4>
					</div>
				</article>
				<article class="contenedor-producto">
					<div>
						<img src="../Public/logo2.png" class="imagen-productos-home" alt="imagen5">
					</div>
					<div class="descripcion-productos-home">
						<h4>Envio Gratis   <i class="fa-solid fa-truck"></i></h4>
						<div class="flex-juntar">
							<p class="precios">$5.500</p>
							<p class="descripsion-descuento">5% Descuento</p>
						</div>
						<h4 class="descripcion-art">Alimento Balanceado 10Kg</h4>
					</div>
				</article>
				<article class="contenedor-producto">
					<div>
						<img src="../Public/logo2.png" class="imagen-productos-home" alt="imagen6">
					</div>
					<div class="descripcion-productos-home">
						<h4>Envio Gratis   <i class="fa-solid fa-truck"></i></h4>
						<div class="flex-juntar">
							<p class="precios">$500</p>
							<p class="descripsion-descuento">10% Descuento</p>
						</div>
						<h4 class="descripcion-art">Piedras Sanitarias 4Kg</h4>
					</div>
				</article>
			</div>
		</section>
		

	</main>
	<footer>
		<p class="pafooter">Nuestra Ubicacion</p>
		<div class="mapouter">
			<div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no"
					marginheight="0" marginwidth="0"
					src="https://maps.google.com/maps?width=152&amp;height=115&amp;hl=en&amp;q=av de mayo 1500&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a
					href="https://receivesms.one">receivesms</a></div>
			<style>
				.mapouter {
					position: relative;
					text-align: right;
					width: 100%;
					height: 115px;
				}

				.gmap_canvas {
					overflow: hidden;
					background: none !important;
					width: 100%;
					height: 115px;
				}

				.gmap_iframe {
					height: 115px !important;
				}
			</style>
		</div>
		<p class="pafooter2">Copyright © 1999-2022 Can&Cat</p>
	</footer>
</body>

</html>