<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel=StyleSheet href="estilo.css">
	<title>Document</title>
</head>

<body>

	<body>
		<header>
			<nav>
				<ul>
					<li><a href="./Home.html">Home</a></li>
					<li><a href="./Productos.html">Productos</a></li>
					<li><a href="./Peluqueria.html">Peluqueria</a></li>
					<li><a href="./Register.html">Register</a></li>
					<li><a href="./Login.html">Login</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<h1>Productos</h1>
		</main>
		<footer>
			Footer
		</footer>
	</body>

</html>